html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p{
  font-family: 'Rubik', sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Rubik', sans-serif !important;
}

ul li a{
  font-family: 'Rubik', sans-serif !important;
}

button{
  font-weight: 500 !important;
}